:root {
    --bgdark: #0a192f;
    --navblue: #131347;
    --txtorange: #ffa756;
  }

nav {
    background-color: var(--navblue);
    height: 85px; /* Fixed height */
    padding: 0 2rem; /* Remove vertical padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    font-family: 'Montserrat', sans-serif;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: auto;
    height: 50px;
    margin: 0 1rem;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  nav a{
    text-decoration: none;
  }
  
  nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--txtorange);
    z-index: 1001;
  }
  
  /* Menu styles */
  ul.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    
  }
  
  ul.menu li {
    position: relative;
  }
  
  ul.menu li a {
    color: #fff;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  ul.menu li a:hover {
    color: var(--txtorange);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navblue);
    min-width: 200px;
    top: 100%;
    left: 0;
    z-index: 999;
  }
  
  .dropdown-content a {
    display: block;
    padding: 0.8rem 1.5rem;
    color: var(--txtorange)
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #menuToggle{
    display: none;
  }
  
  @media (max-width: 768px) {
  
    nav{
      position: sticky;
      left: 0;
      max-width: 100%;
      z-index: 100;
    }

    .logo-image{
      margin: 0 1rem 0 0;
    }
  
    #menuToggle{
      display: block;
      font-size: larger;
      z-index: 100;
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: white;
    }
  
    ul.menu {
      flex-direction: column;
      background-color: var(--navblue);
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      height: 100%;
      padding: 3rem 1rem 1rem 1rem;
      margin: 0;
      transition: right 0.3s ease-in-out, opacity 0.3s ease;
      opacity: 0;
      z-index: 10;
      gap: 0;
    }
  
    
    ul.menu.active {
      right: 0; 
      opacity: 1;
    }
  
    ul.menu li {
      padding: 1.5rem 0 1.5rem 0;
      border-bottom: 1px solid #444;
    }
  
    .dropdown-content {
      position: static;
      background: none;
    }
  
    .dropdown:hover .dropdown-content {
      display: none;
    }
  
    .dropdown-content a {
      padding-left: 2rem;
    }
  }
