:root {
  --bgdark: #100839;
  --navblue: #1f1359;
  --txtorange: #ffa756;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #100839;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}



header {
  text-align: center;
  padding: 3rem 1rem;
}

.hero-box {
  background-color: #1f1359;
  padding: 3rem;
  max-width: 600px;
  margin: 3rem auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  font-size: 1.3rem;
}

.hero-box h1 {
  margin-top: 0;
  color: white;
}

.hero-box a {
  display: inline-block;
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #469df6;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.hero-box a:hover {
  background-color: #3d51ff;
}


section {
  padding: 3rem 1rem;
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  padding-left: 10px;
  margin-bottom: 2rem;
}

.about-description {
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.about-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  
}

.about-box {
  background-color: #1f1359;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #233554;
  text-align: center;
  font-size: 1.3rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.feature-box {
  background-color: #1f1359;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #233554;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.3rem;
  text-align: center;
}

.feature-box:hover {
  background-color: #1b2d4a;
}

.feature-box h3 {
  color: #fff;
}

.success-stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.success-stories img {
  width: 280px;
  height: auto;
  border-radius: 12px;
  border: 2px solid #233554;
  transition: transform 0.3s;
}

.success-stories img:hover {
  transform: scale(1.05);
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 1rem;

}

.contact input,
.contact textarea {
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  font-size: 1.1rem;
  background-color: #1f1359;
  color: white
}

.contact button {
  background-color: #1f1359;
  color: white;
  padding: 0.8rem;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1359; 
  color: #f0e9d6; 
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  flex-wrap: wrap;
  border-top: 2px solid #233554; 
}

.pre-footer-left {
  flex: 1;
  min-width: 250px;
}

.pre-footer-right {
  flex: 1;
  min-width: 250px;
  text-align: right;
}

.pre-footer-icons a {
  margin: 0 8px;
}

.pre-footer-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.pre-footer-icons img:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  padding: 1rem 1rem;
  background-color: #1f1359;
  border-top: 2px solid #233554;
}



.header-about-us{
  font-size: 1.7rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: auto;
  height: 45px;
  margin-right: 15px;
  margin-left: -15px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}


