* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #100839;
  color: #f0e9d6;
}


html {
  scroll-behavior: smooth;
}

@media (width <= 768px){
  .grid{
    margin-top: 65px;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50vh);
  width: 100vw;
  height: 100vh;
}

.section {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease;
  z-index: 1; 
}




.section:hover {
  transform: scale(1.02);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, color 0.3s ease;
  z-index: 2; 
}


.section:hover .overlay {
  background: rgba(0, 0, 0, 0.4);
}

.overlay span {
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  transition: transform 0.3s ease;
}

.section:hover .overlay span {
  transform: scale(1.1);
}

/* Mobile responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 33vh);
  }
}
footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #140d3c;
  border-top: 2px solid #233554;
}
