body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #100839;
    color: #000;
  }
  
  
  
  /* Page Title */
  header {
    text-align: center;
    padding: 2rem 1rem 1rem;
  }
  
  header h1 {
    color: #f0f0f0;
    font-size: 2.5rem;
  }
  
  /* Mock Test Container */
  .container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }
  
  
  .mock-box {
    background-color: #1f1359;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    border-left: 6px solid #1e3a8a;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .mock-box h2 {
    margin-top: 0;
    font-size: 1.3rem;
    color: #40cb7a;
  }
  
  .mock-box a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #40cb7a;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s;
  }
  
  .mock-box p{
    color: #f0f0f0;
  }
  
  .mock-box a:hover {
    background-color: #7eebab;
  }
  
  /* Footer */
  footer {
    background-color: #140d3c;
    color: #f0f0f0;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
  }
  .back-button-right {
  display: flex;
  justify-content: flex-end;
  max-width: 900px;
  margin: 0 auto 1rem auto;
  padding-right: 1.5rem; /* matches padding of file-actions */
  }
  
  .back-button-right a {
  padding: 0.5rem 1.2rem;
  background-color: #40cb7a;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s;
  }
  
  .back-button-right a:hover {
  background-color: #7eebab;
  }
  
    /* Practice Section */
    .practice-section {
      text-align: center;
      margin: 3rem auto;
      padding: 2rem;
      max-width: 800px;
      background-color: #1f1359;
      border-radius: 10px;
      border: 1px solid #56a9ff;
    }
  
    .practice-section-icon {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    .practice-section h4 {
      color: #40cb7a;
      font-size: 1.4rem;
    }
  
    .practice-section p {
      color: #f0f0f0;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  
    .practice-section a {
      display: inline-block;
      background-color: #40cb7a;
      color: #333;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      border-radius: 6px;
      font-weight: bold;
    }
  
    .practice-section a:hover {
      background-color: #7eebab;
    }
  
    /* Footer */
    footer {
      background-color: #1f1359;
      color: #f0f0f0;
      text-align: center;
      padding: 1rem;
      margin-top: 3rem;
    }