body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #100839;
  color: #f0e9d6;
}
html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  padding: 3rem 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff9933
}

#controls {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.country {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.stars {
  color: #FFD700;
  font-size: 1.3em;
}


button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1.1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ff9933;
  color: #0a192f;
  transition: background 0.3s;
}

button:hover {
  background-color: yellow;
}
footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #1f1359;
  border-top: 2px solid #233554;
  margin-top: 3rem;
}
.back-button-right {
  display: flex;
  justify-content: flex-end;
  max-width: 900px;
  margin: 0 auto 1rem auto;
  padding-right: 1.5rem; /* matches padding of file-actions */
}

.back-button-right a {
  padding: 0.5rem 1.2rem;
  background-color: #1e3a8a;
  color: #f0f0f0;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.back-button-right a:hover {
  background-color: #2946b5;
}
